<!doctype html>
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<html class="no-js" lang="en">

	<head>

		{% include "meta.nunjucks" %}

		{% include "css.nunjucks" %}

		{% include "js-head.nunjucks" %}

	</head>

	<body>

		{% include "icons.nunjucks" %}

		{% include "site-header.nunjucks" %}

		<main class="c-main">
			{% block content %}{% endblock %}
		</main> <!-- !END main.l-main -->

		{% include "site-footer.nunjucks" %}

		{% include "js-foot.nunjucks" %}

	</body> <!-- !END body -->

</html>
