/* ==========================================================================
   SETTINGS - VARIABLES - BUTTONS
   ========================================================================== */

btn-border-width 		= 1px;
btn-border-style 		= solid;

btn-tiny 					  = 11px;
btn-small 					= 13px;
btn-large 					= 20px;
btn-huge 					  = 26px;
