/* ==========================================================================
   SETTINGS - VARIABLES - INPUTS
   ========================================================================== */

input-border-width 		= 1px;
input-border-style 		= solid;
input-height 					= em(40px);
input-padding					= 0 em(10px);
placeholder-colour 	  = purple;
