/* ==========================================================================
   SETTINGS - VARIABLES - LABELS
   ========================================================================== */

label-display 				= block;
label-marginBottom 		= base-spacing / 4;
