/* ==========================================================================
   SETTINGS - VARIABLES - TYPOGRAPHY
   ========================================================================== */

transition-duration  = 250ms;
border-radius 			 = 6px;
max-width            = 1200px
