/* ==========================================================================
   SETTINGS - VARIABLES - PATHS
   ========================================================================== */

img-path 	= 'assets/img';
font-path = 'assets/fonts';
