/* ==========================================================================
   SETTINGS - VARIABLES - SPACINGS
   ========================================================================== */

base-spacing 				= (line-height / font-size)rem;
base-spacing-half 	= (base-spacing / 2);
