/* ==========================================================================
   SETTINGS - VARIABLES - TABLES
   ========================================================================== */

table-padding  = base-spacing / 4;
table-border   = 1px solid colours.main.borders;
