/* ==========================================================================
   SETTINGS - VARIABLES - TYPOGRAPHY
   ========================================================================== */

font-size 					   = 16px;
font-family 				   = sans-serif;
line-height 				   = 24px;
font-url 				       = '';

heading-font-family 	 = inherit;
heading-font-size 		 = inherit;
heading-font-weight 	 = 700;

font-family-alt 		   = Cambria, Georgia, Times, "Times New Roman";
font-family-code 	     = Monaco, Courier New, monospace;
