/* ==========================================================================
   GENERIC - RESET
   ========================================================================== */

body, fieldset, button, input, optgroup, select, textarea, h1, h2, h3, h4, ol, ul {
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
}

legend {
	{is-vh};
}

button, input, optgroup, select, textarea {
	font: inherit;
	color: inherit;
}

strong {
  font-weight: bold;
}

abbr {
	border-bottom: 1px dotted colour(main, borders);
	cursor: help;
}

small {
	font-size: 80%;
}
