/* ==========================================================================
   TOOLS - BLOCK - TEXT-OVERFLOW
   ========================================================================== */

text-overflow = {
	overflow : hidden
	text-overflow : ellipsis
	white-space : nowrap
}

/*
--usage
--{text-overflow};
*/
