/* ==========================================================================
   COMPONENTS/OTHER - COPYRIGHT
   ========================================================================== */

.c-copyright {

}
