/* ==========================================================================
   SETTINGS - HASHES - BREAKPOINTS
   ========================================================================== */

breakpoints = {
  '10': 400px
}
