/* ==========================================================================
   SETTINGS - HASHES - COLOURS
   ========================================================================== */

colours = {

	main: {
		bg 									: #ebebea,
		text 			 					: #4b6571,
		links 							: inherit,
		borders 						: #1a1919
	},

	brand: {
		a 									: #01cae4
	},

	alerts: {
		info 								: #d9edf7,
		warn 								: #efac4d,
		error 							: #dd3522,
		success 						: #5cb75c
	},

	social: {
		facebook            : #3b5897,
		twitter             : #00aceb,
		google              : #de4e3b,
		instagram           : #517fa4,
		youtube             : #bd0000
	},

	tech: {
		html                : #fca140,
		css                 : #2489ae,
		js                  : #fac552,
		misc                : #737373
	}

}
