/* ==========================================================================
   SETTINGS - HASHES - IMPORTS
   ========================================================================== */

imports = {

  base: {
    blockquotes				    : false,
    embedded 					    : false,
    headings 					    : false,
    inputs 						    : false,
    labels 						    : false,
    links  						    : false,
    lists 			 				  : false,
    paragraphs 				    : false,
    tables 						    : false,
    buttons 					    : false,
  },

  objects: {
    wrapper               : false,
    media                 : false
  },

  layout: {
    grid-silent 			    : false,
    grid-classes 		      : false,
  },

  components: {
    structure: {
      site-header         : false,
      site-main           : false,
      site-footer         : false
    },
    navigation: {
      site-navigation     : false
    },
    other: {
      logo                : false,
      copyright           : false,
      buttons             : false
    }
  }

  navigation: {
    nav-site 				      : false,
  }

  utilities: {
    colours 		          : false,
    visibility 	          : false,
    widths     	          : false
  }

}
