/* ==========================================================================
   SETTINGS - HASHES - MODULAR-SCALE
   ========================================================================== */

ms = {
  a: 10,
  b: 13,
  c: 14,
  d: 19,
  e: 22,
  f: 25,
  g: 29,
  h: 34,
  i: 39,
  j: 46
}
