/* ==========================================================================
   SETTINGS - HASHES - Z-INDEX (Upon working on a site and z-index is needed you add to this list as necessary even as far as adding sub items for parent context z-indexing)
   ========================================================================== */

depth = {
  default: 10
}

//--e.g.
//--depth = {
//---modal: 10,
//---popup: {
//----default: 10,
//----header: 10,
//----footer: 20,
//---}
//--}
