/*IMPORT - BASE*/

@import "root";
@import "headings";
@import "paragraphs";
@import "lists";
@import "blockquotes";
@import "embedded";
@import "labels";
@import "inputs";
@import "links";
@import "tables";
