if imports.base.embedded {

	/* ==========================================================================
	   BASE - EMBEDDED
	   ========================================================================== */

	img {
		max-width: 100%;
		height: auto;
		border: 0;
	}

	svg:not(:root) {
	  overflow: hidden;
	}

} // END IF
