if imports.base.headings {

 /* ==========================================================================
  	 BASE - INPUTS
   	========================================================================== */

	h1, h2, h3, h4 {
		font-family 	: heading-font-family;
		font-size 		: heading-font-size;
	  font-weight 	: heading-font-weight;
	}

}  // END IF
