if imports.base.labels {

/* ==========================================================================
   BASE - LABELS
   ========================================================================== */

	label {
		display: $label-display;
	  margin-bottom: $label-marginBottom;
	}

} // END IF
