if imports.base.links {

	/* ==========================================================================
	   BASE - LINKS
	   ========================================================================== */

	a {
		color: colours.main.links;
		background-color: transparent;
		text-decoration: none;

	  	&:active, &:hover {
	  		outline: none;
	  	}
	}

} // END IF
