if imports.base.lists {

	/* ==========================================================================
	   BASE - LISTS
	   ========================================================================== */

	ol, ul {
		list-style: none;
	}

} // END IF
