if imports.base.paragraphs {

 /* ==========================================================================
   		BASE - PARAGRAPHS
    ========================================================================== */

	p {
		margin: 0 0 base-spacing 0;
	}


} // END IF
