/* ==========================================================================
   TOOLS - MIXINS - CSS-HYPHENS
   ========================================================================== */

css-hyphens(val = auto) {
	hyphens : val;
}

/*
--usage
--css-hyphens(optional);
*/
