/* ==========================================================================
   TOOLS - MIXINS - IE
   ========================================================================== */

ie9() {
  .lt-ie10 & {
    {block};
  }
}

/*
usage
.ie9 {
  +ie9 {
    rule: value;
    rule: value;
  }
}
*/
