/* ==========================================================================
   TOOLS - MIXINS - NO-JS
   ========================================================================== */

no-js() {
  .no-js & {
    {block};
  }
}

/*
usage
.no-js {
  +no-js {
    rule: value;
    rule: value;
  }
}
*/
