/* ==========================================================================
   TOOLS - MIXINS - SMALL-CAPS
   ========================================================================== */

smallcaps(color, font-weight) {
	font-variant : small-caps;
	font-weight : font-weight;
	text-transform : lowercase;
	color : color;
}

/*
--usage
--small-caps(optional);
*/
