/* ==========================================================================
   TOOLS - MIXINS - TABLE-RESPONSIVE
   ========================================================================== */

table-responsive(bpMax) {

	bp(bpMax, max) {

		table, thead, tbody, tr, th, td {
			display: block;
		}

		thead tr {
			{is-vh};
		}
		td {
			position: relative;
			padding: toRem(12px) 0 toRem(4px) 70%;

				&:before {
					position: absolute;
					top: toRem(12spx);
					left: 0;
					width: 25%;
					white-space: nowrap;
					content: attr(title);
				}
		}

	}

}

/*
--usage
--table-responsive(bpMax);
*/
