/* ==========================================================================
   OBJECTS - GRID-SILENT
   ========================================================================== */

if imports.layout.grid-silent {

	.o-grid {
		margin-left: -base-spacing;
		clearfix();
	}

}// END IF - SILENT
