/* ==========================================================================
	 LAYOUT - GRID-CLASSES
	 ========================================================================== */

if imports.layout.grid-classes {

	.o-grid__item {
		float: left;
		padding-left: $base-spacing;
	}

} // END IF
