if imports.objects.wrapper {

/* ==========================================================================
   OBJECTS - WRAPPER
   ========================================================================== */

	.o-wrap  {
		width: 96%;
		max-width: rem(max-width);
		margin: 0 auto;
	}

} // END IF
