/* ==========================================================================
   COMPONENTS - MAIN
   ========================================================================== */

if imports.components.structure.site-main {

  .c-main {}

}// end if
