/* ==========================================================================
   COMPONENTS - FOOTER
   ========================================================================== */

if imports.components.structure.site-footer {

  .c-site-footer {}

}// end if
