/* ==========================================================================
   COMPONENTS - HEADER
   ========================================================================== */

if imports.components.structure.site-header {

  .c-site-header {
  }

}// end if
