/* ==========================================================================
   SETTINGS - IMPORTS
   ========================================================================== */

@import "font-face";

/*hashes*/
@import "hashes/*";

/*vars*/
@import "vars/type";
@import "vars/spacings";
@import "vars/paths";
@import "vars/misc";
@import "vars/inputs";
@import "vars/labels";
@import "vars/buttons";
@import "vars/tables";

if font-url {
  @import url(font-url);
}
