/* ==========================================================================
   TOOLS - FUNCTION - SASS LIST PREPEND A VALUE
   ========================================================================== */

function prepend(list, value) {
	join(value, list);
}
