/* ==========================================================================
   TOOLS - FUNCTION - PX-TO-REM
   ========================================================================== */

rem(px) {
	(px / font-size)rem
}

/*
--usage
--rem(24px);
*/
